@font-face {
    font-family: "Gilroy";
    src: url("./assets/fonts/Gilroy-Medium.ttf");
}

@font-face {
    font-family: "Ghost";
    src: url("./assets/fonts/Ghostphobia.otf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

.container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.container img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.killfeeds {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 1.2vw;
    left: 4vw;
    width: 30vw;
    height: 20vh;
}

.killfeed {
  display: flex;
  margin-left: 0vh;
  margin-top: .4vw;
  animation: blurSlideIn 1s ease-out;
} 
.box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;    
    height: 2vw;
    left: -2vw;
}

.box_image {
    width: 4vw; 
    height: 100%; 
    margin-left: -.8vw;
}

.background-text {
    position: fixed;
    font-family: "Ghost";
    font-size: 2vw;
    letter-spacing: .3vw;
    color: rgba(255, 255, 255, 0.151);
}

.skull_icon {
    position: absolute;
    left: .7vw;
    width: 1vw;
    height: auto;
}

.bullets {
    position: absolute;
    left: .7vw;
    width: 1vw;
    height: auto;
}

.feed_label {
    position: absolute;
    font-family: "Gilroy";
    font-size: .75vw;
    color: white;
    bottom: .8vw;
}

.feed_description {
    position: absolute;
    font-family: "Ghost";
    font-size: .65vw;
    color: rgba(255, 255, 255, 0.555);
    bottom: .3vw;
}

.killfeed_mid_box {
    width: 3vw; 
    height: auto;
    visibility: visible;
}
.distance {
    position: absolute;
    font-family: "Gilroy";
    font-size: .75vw;
    color: white;
    bottom: .5vw;
    left: .5vw;
}

.streak {
    position: absolute;
    width: 3vw;
    height: auto;
    right: -1.2vw;
}

.streakText {
    position: absolute;
    font-family: "Ghost";
    font-size: .7vw;
    color: white;
    bottom: .3vw;
    right: -.3vw;
}

@keyframes smoothSlideIn {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
}
  
@keyframes smoothSlideOut {
    from {
      transform: translateX(0);
      opacity: 1;
    }
    to {
      transform: translateX(100%);
      opacity: 0;
    }
}
  

@keyframes bounceSlideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    80% {
        transform: translateX(10%);
        opacity: 1;
    }
    to {
        transform: translateX(0);
    }
}

@keyframes bounceSlideOut {
    from {
        transform: translateX(0);
    }
    20% {
        transform: translateX(-10%);
    }
    to {
        transform: translateX(100%);
        opacity: 0;
    }
}

@keyframes elasticSlideIn {
    from {
      transform: translateX(-100%) scale(0.8);
      opacity: 0;
    }
    50% {
      transform: translateX(10%) scale(1.1);
      opacity: 1;
    }
    to {
      transform: translateX(0) scale(1);
    }
}
  
@keyframes elasticSlideOut {
    from {
      transform: translateX(0) scale(1);
    }
    50% {
      transform: translateX(-10%) scale(0.9);
    }
    to {
      transform: translateX(100%) scale(0.8);
      opacity: 0;
    }
}
  

@keyframes blurSlideIn {
  0% {
    margin-left: -15vh;
    filter: blur(5px);
    opacity: 0;
  }
  100% {
    margin-left: 0vh;
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes blurSlideOut {
    from {
      transform: translateX(0);
      filter: blur(0);
      opacity: 1;
    }
    to {
      transform: translateX(-100%);
      filter: blur(5px);
      opacity: 0;
    }
}
  

@keyframes fastSlideIn {
    from {
      transform: translateX(-120%);
      opacity: 0;
    }
    80% {
      transform: translateX(10%);
      opacity: 1;
    }
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes fastSlideOut {
    from {
      transform: translateX(0);
    }
    20% {
      transform: translateX(-10%);
    }
    to {
      transform: translateX(120%);
      opacity: 0;
    }
  }
  